body
{
    font-family: serif;
    margin: 0;
    padding: 0;
    background-image: url("cyberfemmanifesto.jpg");
    background-repeat: no-repeat;
    background-color: #000;
    background-size: 100%;
    color: #fff;
}

#wrapper
{
    max-width: 30em;
    text-shadow: 0 0 0.5em #000;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2em 1em 2em;
}

img { width: 100%; margin: 0; padding: 0;}

@media only screen and (min-width: 800px)
{
    img { display: none; }
    body { background-size: 700px; }
    #wrapper { margin-left: 650px; margin-top: 150px; }
}

@media only screen and (max-width: 599px)
{
    body { background-image: none; }
}
