body { font-family: 'Roboto', sans-serif; color: #000; font-size: 1.1em; text-align: center; }
#wrapper { background-color: #fff; max-width: 30em; margin-left: auto; margin-right: auto; }
h1 { font-family: "UnifrakturMaguntia", serif; margin-bottom: -0.15em; color: #000; }
h2 { font-weight: 400; font-size: 1em; }
h3 { margin: 0 0 0 0.15em; }
h3 a { color: #000; text-decoration: none; }
h4 { margin: 0; padding: 0; font-weight: 400; font-size: 0.7em; font-style: italic; }
nav { text-align: center; margin: 1em; }
a { color: #999; text-decoration: none; }
a:visited { color: #999; }
a:hover { color: #f00; }
nav a { margin: 0 1em 0 1em; padding: 0 0.15em 0 0.15em; }
p { font-size: 1.0em; margin-top: 0.5em;
text-align: justify; hyphens: auto; overflow-wrap: break-word; text-justify: inter-word; }
img { width: 100%; }
#main { padding: 0 0.3em 0 0.3em; }
.item { margin: 1em 0 5em 0; font-size: 0.8em;}
.item .note { margin: 0.1em 0 0.1em 0; font-style: italic; }
.item .name { margin: 0.1em 0 0.1em 0; }
.item .desc { margin: 1em 0 0.1em 0; }
.item p { padding: 0; margin-bottom: 0.5em; }
.note { margin-bottom: 0.75em; }
.featured { font-size: 0.9em; }
.featured a { font-weight: 400; color: #999; text-decoration: none; padding: 0 0.15em 0 0.15em; }
.featured a:hover { color: #f00; }
.date { font-weight: 400; color: #666; }
.main h2 { font-size: 1.5em; font-weight: 800; }
.more { text-align: right; margin: 0; padding:0; }
.contact { }
