body{
    background-image: url("cyberfemmanifesto.jpg");
    background-color: black;
    padding-top: 200px;
    padding-left:900px;
    background-size: 65%;
    background-repeat: no-repeat;
    color: white;
}



#frontTitle{

text-align: center;
font-family: "MS Sans Serif";
font-size: 120px;
  font-family: "MS Sans Serif";
  color: rgb(239, 161, 212);
  font-variant: small-caps;
  line-height: 0.083;
  text-align: center;
  -moz-transform: matrix( 0.49982363315697,0,0,0.24991181657848,0,0);
  -webkit-transform: matrix( 0.49982363315697,0,0,0.24991181657848,0,0);
  -ms-transform: matrix( 0.49982363315697,0,0,0.24991181657848,0,0);
  position: absolute;
  left: -328.362px;
  top: 211.251px;
  width: 1740.675px;
  height: 117.999px;
  z-index: 5;
}
.question{

font-family: Impact;
text-align: center;
font-color: white;
font: Impact;
font-size: 16px;
margin: 50px 0px 0px 0px;
}
